@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-bg-color: #F8FAFC;
    --second-bg-color: #F1EFEC;
    --text-color: #18191A;
    --btn-color: #5CE7FF;
    --theme-dark: #28517F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100dvh;
    background-color: var(--primary-bg-color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-dark);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul,
li {
    list-style: none;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--primary-bg-color);
    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 40px;
}

.logo {
    transition: all .3s ease;
    margin-right: auto;
    height: fit-content;
}

.logo:hover {
    transform: scale(1.05);
}

.logo span {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    background: linear-gradient(90deg, var(--btn-color), var(--second-bg-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-link {
    color: var(--text-color);
    font-size: 1rem;
    position: relative;
    padding: 5px;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--btn-color);
    border-radius: 5px;
    transition: all .3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-btn {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--text-color);
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.nav-btn:hover {
    background-color: var(--btn-color);
    color: var(--primary-bg-color);
}

.toggle-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.toggle-menu .bar {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--text-color);
}

main {
    position: relative;
    top: 80px;
    min-height: calc(100dvh - 80px);
}

.blur-circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

@keyframes scaling {
    50% {
        transform: scale(1.1);
    }

    99.9% {
        transform: scale(1);
    }
}

.blur-circle:nth-child(1) {
    width: 500px;
    height: 500px;
    background-color: #b6fcc9;
    opacity: 0.5;
    top: -330px;
    right: 100px;
    filter: blur(90px);
    z-index: 1;
    animation: scaling 15s linear infinite;
}

.blur-circle:nth-child(2) {
    width: 400px;
    height: 400px;
    background-color: #fce8b6;
    top: calc(50dvh - 250px);
    opacity: 0.6;
    left: -250px;
    filter: blur(90px);
    animation: scaling 10s linear infinite;
}

.blur-circle:nth-child(3) {
    background-color: var(--btn-color);
    width: 300px;
    height: 300px;
    opacity: 0.3;
    top: 50dvh;
    left: calc(50dvw - 150px);
    filter: blur(90px);
    animation: scaling 5s linear infinite;
}

#hero {
    min-height: calc(100dvh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-box {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-left h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 5rem;
}

.hero-left p {
    font-size: 1.5rem;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    min-width: 500px;
    max-width: 800px;
    width: 80%;
    animation: floating 3s linear infinite;
}

@keyframes floating {
    50% { transform: translateY(-10px); }
    99.9% { transform: translateY(0px); }
}

#about-us {
    min-height: 60dvh;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.partner {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.partner-img img {
    height: 300px;
    border-radius: 10px;
}

.partner-info .name {
    width: fit-content;
    background-color: #fce8b6;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.partner-info .description {
    margin-bottom: 30px;
}

.partner-link {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--btn-color);
    color: var(--primary-bg-color);
    transition: all .4s ease;
}

.partner-link:hover {
    opacity: 0.7;
}

footer {
    min-height: 80px;
    background-color: #28517F;
    padding: 40px;
    color: var(--primary-bg-color);
}

.footer-links {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.links {
    width: 30%;
    min-height: 200px;
}

.links h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.links:nth-child(1) h3 {
    margin-top: 20px;
}

.links li {
    margin-bottom: 5px;
}

.footer-link {
    color: var(--primary-bg-color);
    transition: all 0.3s ease;
}

.links i {
    font-size: 2rem;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.footer-link:hover,
.links i:hover {
    color: var(--btn-color);
}

footer p {
    border-top: 2px solid var(--primary-bg-color);
    padding-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}